.hero {
	padding: 80px 0 0;
	margin: 0 0 80px;

	@include vp-1023 {
		padding: 50px 0 0;
		margin-bottom: 50px;
	}

	&__heading {
		display: flex;
		gap: 20px;
		align-items: flex-start;
		justify-content: space-between;
		margin: 0 0 80px;

		@include vp-1023 {
			margin: 0 0 50px;
		}
	}

	&__inner {
		@include vp-1023 {
			width: 440px;
		}
	}

	&__title {
		font-size: 86px;
		line-height: 90px;
		letter-spacing: 0.02em;
		font-weight: 200;
		margin: 0 0 30px;
		text-transform: uppercase;

		@include vp-1023 {
			font-size: 44px;
			line-height: 50px;
			margin-bottom: 15px;
		}
	}

	&__description {
		max-width: 600px;
		font-size: 18px;
		line-height: 26px;
		margin: 0;

		@include vp-1023 {
			font-size: 14px;
			line-height: 20px;
		}
	}

	&__button {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		gap: 27px;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.02em;
		padding: 13px 0;

		@include vp-1023 {
			gap: 9px;
			padding: 7px 0;
		}
	}

	&__button-text {
		@include vp-1023 {
			font-size: 16px;
			line-height: 20px;
		}
	}

	&__button-icon {
		display: flex;
		align-items: center;
		position: relative;
	}

	&__button-subtrack {
		height: 64px;
		width: 53px;

		@include vp-1023 {
			height: 40px;
			width: 33px;
		}
	}

	&__button-arrow {
		position: absolute;
		top: 50%;
		left: -5px;
		transform: translateY(-50%);
		width: 24px;
		height: 16px;

		@include vp-1023 {
			width: 15px;
			height: 12px;
		}
	}

	&__link-list {
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;
		list-style: none;
		gap: 80px;
		justify-content: center;
		flex-wrap: wrap;

		@include vp-1023 {
			gap: 20px;
		}
	}

	&__link {
		display: flex;
		font-size: 18px;
		line-height: 26px;
		padding: 0 10px 20px;
		border-bottom: 2px solid $color-black;

		@include vp-1023 {
			font-size: 14px;
			line-height: 20px;
			padding: 0 10px 10px;
		}
	}
}
