.socials {
  display: flex;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    justify-content: center;
  }

  &__link {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $color-solitude-4;
  }
}
