.hero {
	width: 100%;
	aspect-ratio: 1920 / 828;
	background: $color-cloudy url("../../images/hero-bg.jpg") no-repeat;
	background-size: cover;
	position: relative;

	@include vp-1023 {
		aspect-ratio: 768 / 548;
		background-image: url("../../images/hero-bg-tablet.jpg");
	}

	@include vp-767 {
		aspect-ratio: 414 / 340;
		background-image: url("../../images/hero-bg-mobile.jpg");
	}

	&__add-btn {

		&--mirror {
			top: 14%;
			right: 39.5%;

			@include vp-1023 {
				top: 15%;
				right: 35.7%;
			}

			@include vp-767 {
				top: 30%;
				right: 32%;
			}
		}

		&--chair {
			bottom: 15%;
			left: 17.5%;

			@include vp-1023 {
				bottom: 29.7%;
				left: 8%;
			}

			@include vp-767 {
				bottom: 23.5%;
				left: 10%;
			}
		}

		&--vase {
			bottom: 17.6%;
			right: 46.7%;

			@include vp-1023 {
				bottom: 30.5%;
				right: 45.8%;
			}

			@include vp-767 {
				bottom: 25.3%;
				right: 41.3%;
			}
		}

		&--sofa {
			bottom: 21%;
			right: 27.7%;

			@include vp-1023 {
				bottom: 31.75%;
				right: 21.2%;
			}

			@include vp-767 {
				bottom: 25.3%;
				right: 17%;
			}
		}
	}
}