.custom-input {
	position: relative;
}

.custom-input--error .custom-input__field {
	background-color: #FFFAFA;
	border-color: #E80E0A;
}

.custom-input--error .custom-input__icon {
	color: #F26F6C;
}

.custom-input--error .custom-input__error {
	display: block;
}

.custom-input__field {
	border: 1px solid #D6D2C4;
	width: 100%;
	padding: 18px 20px;
	font-family: inherit;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	color: #1D252D;
}

.custom-input__field:hover,
.custom-input__field:focus-visible {
	border-color: #1D252D;
	outline: none;
}

.custom-input__field:not(:disabled):hover ~ .custom-input__icon,
.custom-input__field:focus-visible ~ .custom-input__icon {
	color: #757576;
}

.custom-input__field:disabled {
	background-color: #FAFAFA;
	border-color: #E9E9E9;
}

.custom-input__field:disabled ~ .custom-input__label {
	pointer-events: none;
	color: rgba(29, 37, 45, 0.5);
}

.custom-input--icon .custom-input__field {
	padding-right: 68px;
}

.custom-input__label {
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	background-color: #fff;
	padding: 0 8px; 
	user-select: none;
	cursor: pointer;

	position: absolute;
	top: 0;
	transform: translateY(-50%);
	left: 12px;	
}

.custom-input__icon {
	color: #D6D2C4;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	pointer-events: none;
}

.custom-input__error {
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	color: #E80E0A;

	position: absolute;
	bottom: -4px;
	transform: translateY(100%);
	left: 0;

	display: none;
}