.custom-checkbox {
	position: relative;
}

.custom-checkbox--error .custom-checkbox__label::before {
	border-color: #E80E0A;
}

.custom-checkbox__label:hover::before,
.custom-checkbox__field:focus-visible ~ .custom-checkbox__label::before {
	border-color: #1D252D;
}

.custom-checkbox__field:checked ~ .custom-checkbox__label::before {
	border: none;
	background-color: #D6D2C4;
}

.custom-checkbox__field:checked ~ .custom-checkbox__icon {
	display: block;
}

.custom-checkbox__field:disabled ~ .custom-checkbox__label::before {
	 opacity: 0.5;
}

.custom-checkbox__field:disabled ~ .custom-checkbox__label {
	pointer-events: none;
}

.custom-checkbox__label {
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	color: #1D252D;
	padding-left: 30px;
	cursor: pointer;
	user-select: none;
}

.custom-checkbox__label::before {
	content: "";
	width: 20px;
	height: 20px;
	border: 1px solid #D6D2C4;
	
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.custom-checkbox__link {
	color: inherit;
	text-decoration: underline;
}

.custom-checkbox__link:hover,
.custom-checkbox__link:focus-visible {
	opacity: 0.5;
	outline: none;
}

.custom-checkbox__icon {
	color: #1D252D;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5px;
	display: none;
}