.summary {
	padding: 20px 0 120px;
}

.summary__heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
	margin: 0 0 57px;
}

.summary__title {
	font-weight: 200;
	font-size: 48px;
	line-height: 58px;
	text-transform: uppercase;
	margin: 0;
}

.summary__info {
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	text-align: right;
	max-width: 280px;
}