.main-nav__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px 60px;
    flex-wrap: wrap;
}

.main-nav__item {
    width: 140px;
}

.main-nav__link {
    font-size: 14px;
    line-height: 18px;
}