.btn {
	padding: 13px 27px;
	font-size: 14px;
	font-family: inherit;
	line-height: 20px;
	color: inherit;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 50%);
	cursor: pointer;
	user-select: none;
}

.btn--secondary {
	background-color: #23252e;
	border: 1px solid transparent;
}

.btn:disabled {
	background-color: rgba(60, 82, 230, 0.5);
	pointer-events: none;
}
