.custom-checkbox {
	position: relative;
}

.custom-checkbox__field:checked ~ .custom-checkbox__label::after {
	display: block;
}

.custom-checkbox__label {
	padding-left: 35px;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.2;
	color: #99999E;
	cursor: pointer;
	user-select: none;
	display: block;
}

.custom-checkbox__label::before {
	content: "";
	width: 20px;
	height: 20px;
	border: 1px solid #2A4AE5;
	cursor: pointer;

	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.custom-checkbox__label::after {
	content: "";
	width: 12px;
	height: 12px;
	background-color: #3C52E6;

	position: absolute;
	left: 4px;
	top: 50%;
	transform: translateY(-50%);

	display: none;
}

.custom-checkbox__link {
	color: #3C52E6;
}