*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $ff-inter;
  font-weight: 700;
	color: $color-midnight-express;
  background-color: $color-ghost-white;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  color: $color-midnight-express;
  text-decoration: none;
}


