.card-tour {
  display: flex;
  flex-direction: column;
  min-height: 528px;
  height: 100%;
  border-radius: 24px;
  background-color: $color-white;
  overflow: hidden;

  @include vp-1023 {
    min-height: 504px;
    border-radius: 20px;
  }

  &--flat {
    .card-tour__content-bottom {
      flex-direction: row;
    }

    @include vp-1023 {
      min-height: 480px;

      .card-tour__img {
        width: 708px;
        height: 240px;
      }
    }
  }

  &--flat-small {
    @include vp-1023 {
      min-height: 506px;

      .card-tour__content-bottom {
        flex-direction: column;
      }

      .card-tour__label-info--bg-violet {
        display: none;
      }

      .card-tour__img {
        width: 344px;
        height: 200px;
      }
    }
  }

  &__img {
    width: 100%;
    height: 240px;

    @include vp-1023 {
      height: 200px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px 30px 30px 30px;
    height: 100%;

    @include vp-1023 {
      padding: 20px 20px 30px;
    }
  }

  &__content-top {
    display: flex;
    align-items: center;
    gap: 9px;
    margin: 0 0 10px;
  }

  &__title {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.02em;
    margin: 0;
    color: $color-deep-lilac;
    font-weight: 700;

    @include vp-1023 {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__title-gray {
    color: $color-nero;
    font-weight: 400;
  }

  &__label-wrap {
    display: flex;
    gap: 5px;
    margin: 0 0 0 auto;
  }

  &__label-info {
    border-radius: 60px;
    background-color: $color-china-ivory;
    display: flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  &__label-info--bg-violet {
    background-color: $color-white-lilac;
  }

  &__label-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  &__label-text {
    font-size: 13px;
    line-height: 16px;
  }

  &__text {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 16px;
  }

  &__content-bottom {
    margin: auto 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__price-wrap {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__price-icon {
    width: 22px;
    height: 20px;
    flex-shrink: 0;
  }

  &__price-text {
    font-size: 14px;
    line-height: 18px;
  }

  &__btns-wrap {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 17px;
  }

  &__btn-icon {
    fill: $color-white;
    color: $color-deep-lilac;
  }

  &__btn-favorites--active {
    .card-tour__btn-icon {
      fill: $color-deep-lilac;
      color: $color-deep-lilac;
    }
  }
}