.main-nav {
	@include vp-1023 {
		position: fixed;
    width: 100%;
    height: calc(100vh - 81px);
    top: 81px;
    left: 0;
    background-color: $color-endeavour;
    padding: 50px 0;
    overflow-y: auto;
    display: none;
    flex-direction: column;
	}

  @include vp-767 {
    padding: 40px 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__inner {
    @include vp-1023 {
      display: flex;
      width: 100%;
      gap: 120px;
      justify-content: center;
    }

    @include vp-767 {
      gap: 50px;
      margin-bottom: 30px;
    }
  }

	&__head {
		display: none;

		@include vp-1023 {
			display: flex;
      color: $color-white;
      font-size: 22px;
      line-height: 26px;
      font-weight: 500;
      margin: 0 0 40px;
		}

    @include vp-767 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 20px;
    }
	}

	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		align-items: center;
		gap: 40px;
		flex-wrap: wrap;
    
    &--menu {
      display: none;

      @include vp-1023 {
        display: flex;
      }
    }

    @media (max-width: 1270px) {
			gap: 10px 20px;
		}

    @include vp-1023 {
      flex-direction: column;
      width: 150px;
      gap: 40px;
      align-items: flex-start;
    }

    @include vp-767 {
      width: 120px;
      gap: 20px;
    }
	}

	&__link {
		display: flex;
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
		color: $color-endeavour;

		@media (max-width: 1120px) {
			font-size: 14px;
			line-height: 20px;
		}

    @include vp-1023 {
      font-size: 16px;
      line-height: 24px;
      color: $color-white;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 18px;
    }
	}

	&__social {
		display: none;

		@include vp-1023 {
			display: flex;
      position: fixed;
      padding: 0;
      margin: 0;
      list-style-type: none;
      flex-direction: column;
      gap: 40px;
      top: 131px;
      right: 40px;
		}

    @include vp-767 {
      position: static;
      flex-direction: row;
      justify-content: center;
      top: auto;
      right: auto;
      margin: auto 0 20px;
    }
	}

  &__social-link {
    @include vp-1023 {
      display: flex;
    }
  }

  &__phone {
    display: none;

    @include vp-767 {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      color: $color-white;
    }
  }
}
