// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-endeavour: #29539B;
$color-stor-grey: #83858C;
$color-solitude: #EFF3F9;
$color-storm-grey: #696E82;
$color-blue-sky: #B8CEF3;

// Typography

$ff-exo-2: "Exo-2", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animations
$transition-300: 0.3s ease-in;

