.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #475009;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.social__link:hover {
  background-color: rgba(71, 80, 9, 0.7);
}

.social__link:focus-visible {
  background-color: #502198;
  outline: none;
}