.btn {
	border: 1px solid rgba(25, 25, 239, 0.4);
	border-radius: 60px;
	background-color: transparent;
	color: rgba(25, 25, 239, 0.4);
	padding: 11px;
	min-width: 166px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
	font-family: inherit;
	font-size: 14px;
	line-height: 17.5px;
}