.custom-checkbox__field:checked + .custom-checkbox__label::before {
	border-color: #1919EF;
}

.custom-checkbox__field:checked + .custom-checkbox__label .custom-checkbox__icon {
	display: block;
}

.custom-checkbox__field:focus-visible + .custom-checkbox__label::before	 {
	outline: 1px solid #000;
	outline-offset: 2px;
}

.custom-checkbox__label {
	user-select: none;
	cursor: pointer;
	position: relative;
	padding-left: 40px;
}

.custom-checkbox__label::before {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 4px;
	border: 1px solid #ACB5BD;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.custom-checkbox__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.custom-checkbox__text--size-s {
	font-size: 12px;
	line-height: 14.4px; 
	color: #9B9B9B;
}

.custom-checkbox__icon {
	color: #1919EF;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5px;
	display: none;
}

.custom-checkbox__link {
	text-decoration: underline;
}