.hot-news {
  overflow: hidden;
  margin: 0 0 37px;

  @include vp-1023 {
    margin: 0 0 39px;
  }

  &__title {
    font-size: 40px;
    line-height: 44px;
    margin: 0 0 40px;
    padding: 0 0 40px;
    font-weight: 500;
    position: relative;

    @include vp-1023 {
      font-size: 36px;
      line-height: 40px;
    }

    @include vp-767 {
      font-size: 30px;
      line-height: 34px;
      margin: 0 0 20px;
      padding: 0 0 20px;
    }

    &::after {
      content: "";
      width: 100vw;
      position: absolute;
      height: 1px;
      background-color: rgba($color-endeavour, 0.2);
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 60px;

    @media (max-width: 1200px) {
      gap: 30px;
    }

    @media (max-width: 1100px) {
      gap: 15px;
    }

    @include vp-1023 {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      grid-auto-flow: dense;
    }

    @include vp-767 {
      display: flex;
      gap: 20px;
      overflow: auto;
      margin: 0 -10px;
      padding: 0 10px 0;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__item {
    display: flex;

    @include vp-767 {
      width: 285px;
      flex-shrink: 0;
    }

    &--flat {
      @include vp-1023 {
        grid-column: span 2;
      }
    }
  }
}