.news-card {
  padding: 20px;
  background-color: $color-solitude;
  border-radius: 15px;

  &__info {
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 0 0 16px;

    @include vp-767 {
      gap: 8px;
    }
  }

  &__info-inner {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__info-text {
    color: $color-storm-grey;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
  }

  &__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 0 16px;

    @include vp-767 {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__description {
    font-size: 15px;
    line-height: 20px;
    margin: 0;

    @include vp-767 {
      font-size: 14px;
      line-height: 16px;
    }
  }
}