.advantages__main-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 100px 0 0 0;
  margin: 0;
  list-style-type: none;
}

.advantages__main-item--flat {
  grid-column: span 2;
}

.advantages__main-list--row-three {
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  justify-content: space-between;
  padding: 100px 80px 0;
}
