.hero {
  background-color: #F4F6FA;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  column-gap: 180px;
}

.hero__content {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__heading {
  margin: 0 0 24px 0;
  font-size: 40px;
  line-height: 48px;
}

.hero__heading-highlight {
  color: #476BF0;
}

.hero__description {
  margin: 0 0 24px 0;
  font-size: 18px;
  line-height: 24px;
}

.hero__btn {
  margin-top: 24px;
}
