/* Global */
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Bold.woff2") format("woff2"), url("../../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/MontserratAlternates-Bold.woff2") format("woff2"), url("../../fonts/MontserratAlternates-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  color: #16233F;
  background-color: #F8F9FC;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: #16233F;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (max-width: 1439px) {
  .container {
    padding: 0 44px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 23px;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

/* Blocks */
.pets-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 40px 40px;
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1439px) {
  .pets-card {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .pets-card {
    padding: 30px 25px 40px;
  }
}
.pets-card__title {
  margin: 0 0 19px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1439px) {
  .pets-card__title {
    margin: 0 0 20px;
  }
}
@media (max-width: 767px) {
  .pets-card__title {
    margin: 0 0 20px;
  }
}
.pets-card__img {
  width: 260px;
  height: 280px;
  margin-bottom: 20px;
  border-radius: 20px;
}
@media (max-width: 1439px) {
  .pets-card__img {
    width: 250px;
    height: 220px;
    margin-bottom: 35px;
  }
}
@media (max-width: 767px) {
  .pets-card__img {
    width: 280px;
    height: 200px;
    margin-bottom: 40px;
  }
}
.pets-card__link {
  display: block;
  width: 214px;
  padding: 17px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #16233F;
  border-radius: 10px;
}

.pets {
  overflow: hidden;
  padding: 96px 0 116px;
}
@media (max-width: 1439px) {
  .pets {
    padding: 60px 0 119px;
  }
}
@media (max-width: 767px) {
  .pets {
    padding: 40px 0 143px;
  }
}
.pets__title {
  margin: 0 0 84px;
  font-size: 48px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  line-height: 36px;
  color: #A50932;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1439px) {
  .pets__title {
    margin: 0 0 60px;
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .pets__title {
    margin: 0 0 30px;
    font-size: 24px;
  }
}
.pets__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 20px;
  margin-bottom: 62px;
  padding: 0;
  list-style: none;
}
@media (max-width: 1439px) {
  .pets__list {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 60px;
  }
}
@media (max-width: 767px) {
  .pets__list {
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 0 0 53px;
  }
}

.banner {
  min-height: 710px;
  padding: 100px 65px;
  background-image: url("../../images/bg-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
@media (max-width: 1439px) {
  .banner {
    min-height: 700px;
    padding: 116px 33px;
  }
}
@media (max-width: 767px) {
  .banner {
    min-height: 682px;
    padding: 42px 15px;
  }
}
.banner__text-block {
  display: flex;
  flex-direction: column;
  gap: 44px;
  width: 616px;
  margin-bottom: 63px;
}
@media (max-width: 1439px) {
  .banner__text-block {
    gap: 44px;
    width: 459px;
    margin-bottom: 63px;
  }
}
@media (max-width: 767px) {
  .banner__text-block {
    gap: 28px;
    width: 100%;
    margin-bottom: 27px;
  }
}
.banner__text {
  margin: 0;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
@media (max-width: 1439px) {
  .banner__text {
    font-size: 32px;
    line-height: 38px;
  }
}
@media (max-width: 767px) {
  .banner__text {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
}
.banner__link {
  display: block;
  width: 365px;
  padding: 28px;
  font-size: 24px;
  line-height: 16px;
  color: #A50932;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border: 1px solid #FFFDFD;
  border-radius: 10px;
}
@media (max-width: 1439px) {
  .banner__link {
    color: #16233F;
  }
}
@media (max-width: 767px) {
  .banner__link {
    width: 100%;
    padding: 23px;
    font-size: 16px;
    line-height: 16px;
  }
}
.banner__link:hover {
  color: #7D0726;
}
@media (max-width: 1439px) {
  .banner__link:hover {
    color: #0F2C68;
  }
}/*# sourceMappingURL=style.css.map */