// Colors
$color-white: #FFFFFF;
$color-carmine: #A50932;
$color-burgundy: #7D0726;
$color-midnight-express: #16233F;
$color-sapphire: #0F2C68;
$color-light-grey: #FFFDFD;

$color-black-25: rgba(0, 0, 0, 0.25);

$color-ghost-white: #F8F9FC;

// Typography
$ff-inter: "Inter", "Arial", sans-serif;
$ff-montserrat: "Montserrat", "Arial", sans-serif;

// Viewport

$vp-tablet: 1439px;
$vp-mobile: 767px;