// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-night-rider: #2F2F2F;
$color-portage: #7888E2;
$color-free-speech-blue: #475CD6;
$color-free-speech-blue-2: #364EDF;
$color-royal-blue: #5C72EE;
$color-solitude: #E8EEFF;
$color-light-pink: #F5B8C0;
$color-lavender-blush: #FFF0F1;
$color-white-smoke: #F8F8F8;
$color-solitude: #E8EEFF;
$color-suva-grey: #8B8B8B;
$color-red-orange: #FF2F2F;
$color-shuttle-grey: #67696E;


// Typography
$ff-main: "Manrope", "Arial", sans-serif;
$ff-second: "NeueMetana", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
