.product-card {
    background: linear-gradient(89.82deg, #C1DFC4 2.25%, #DEECDD 99.84%);
    box-shadow: 5px 5px 8px 0px #006F3966;
    border-radius: 20px;
    padding: 22px 20px 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-card--flat {
    padding: 25px 70px 40px;
}

.product-card__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #475009;
    margin: 0 0 35px;
    text-align: center;
}

.product-card__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-card--flat .product-card__wrapper {
    flex-direction: row;
    gap: 60px;
}

.product-card__heading {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 25px;
}

.product-card--flat .product-card__heading {
    width: 50%;
    flex-direction: column;
    margin: 0;
    gap: 30px;
}

.product-card__img {
    width: 228px;
    height: 152px;
    border-radius: 0 130px 0 130px;
}

.product-card--flat .product-card__img {
    width: 100%;
    height: 259px;
    border-radius: 0 170px 0 170px;
}

.product-card__name {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
    color: #475009;
}

.product-card--flat .product-card__name {
    font-size: 24px;
    line-height: 30px;
}

.product-card__info-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-card--flat .product-card__info-wrapper {
    width: 50%;
    background-color: #fff;
    padding: 25px;
    border-radius: 50px 0 50px 0;
}

.product-card__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #475009;
    margin: 0 0 25px;
}

.product-card--flat .product-card__description {
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 35px;
}

.product-card__info {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin: auto 0 0;
}

.product-card--flat .product-card__info {
    background-color: unset;
    padding: 0;
}

.product-card__care {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 0 20px;
}

.product-card--flat .product-card__care {
    margin: 0 0 40px;
}

.product-card__care-group--right {
    text-align: right;
}

.product-card__care-condition {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #475009;
    margin: 0 0 5px;
}

.product-card--flat .product-card__care-condition {
    font-size: 18px;
    line-height: 18px;
}

.product-card__care-value {
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: #475009;
}

.product-card--flat .product-card__care-value {
    font-size: 16px;
    line-height: 16px;
}

.product-card__links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.product-card--flat .product-card__links {
    gap: 30px;
}

.product-card__link {
    font-weight: 700;
    line-height: 14px;
    font-size: 14px;
    color: #fff;
    background-color: #502198;
    border-radius: 30px;
    padding: 14px;
    text-align: center;
    width: 50%;
}

.product-card__link--secondary {
    background-color: unset;
    border: 1px solid #475009;
    color: #475009;
}