.footer {
  padding: 60px 0;
  background-color: #1D252D;
}

.footer__content {
  display: flex;
  align-items: flex-start;
}

.footer__logo-link {
  display: flex;
  margin: 0 40px 0 0;
}

.footer__logo {
  color: #FFFFFF;
}

.footer__nav {
  display: flex;
  gap: 100px;
  margin: 0 0 0 auto;
}

.footer__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 300px;
}

.footer__nav-item:not(:last-child) {
  margin: 0 0 20px 0;
}

.footer__nav-link {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
