.aside-nav {
    padding: 20px;
    background-color: #F4F6FA;
    border-radius: 20px;
}

.aside-nav__heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #475009;
    margin: 0 0 25px;
}

.aside-nav__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.aside-nav__link {
    display: flex;
    align-items: center;
    gap: 30px;
}

.aside-nav__link-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}
