// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-bokara-grey: #141211;
$color-hint-of-red: #f4f3f2;
$color-swiss-coffee: #D7CFCB;


// Typography
$ff-mulish: "Mulish", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;
