@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans-regular.woff2") format("woff2"),
    url("../../fonts/opensans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Foros";
  src: url("../../fonts/foros-regular.woff2") format("woff2"),
    url("../../fonts/foros-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
