.custom-textarea {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	grid-column: span 2;
}

.custom-textarea__field {
	outline: none;
	border: none;
	font-family: inherit;
	padding: 0;
	font-size: 18px;
	line-height: 1.2;
	border-bottom: 1px solid #CACACA;
	min-height: 102px;
}

.custom-textarea__field::placeholder {
  color: #9B9B9B;
}