.custom-input {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.custom-input--flat {
  grid-column: span 2;
}

.custom-input__field {
  outline: none;
  border: none;
  font-family: inherit;
  padding: 0 32px 12px 0;
  font-size: 18px;
  line-height: 1.2;
  border-bottom: 1px solid #CACACA;
}

.custom-input__field::placeholder {
  color: #9B9B9B;
}


.custom-input__label {
  font-size: 12px;
  line-height: 14px;
  color: #1919EF ;
  font-weight: 400;
  position: absolute;
  left: 0;
  top: -18px;
  user-select: none;
}

.custom-input__icon {
  color: #CACACA;
  position: absolute;
  right: 0;
  bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}