.navigate-top {
	width: 60px;
	height: 60px;
	background-color: #F6F6F6;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	right: 120px;
	bottom: 420px;
	display: none;
	cursor: pointer;
	border: none;
}

.navigate-top--active {
	display: flex;
}

.navigate-top__icon {
	color: #1919EF;
}