.custom-checkbox {
	position: relative;
}

.custom-checkbox:hover .custom-checkbox__text {
	color: #87F29A;
}

.custom-checkbox__field:checked ~ .custom-checkbox__icon {
	display: block;
}

.custom-checkbox__field:focus-visible ~ .custom-checkbox__label .custom-checkbox__text {
	color: #87F29A;
}

.custom-checkbox__label {
	padding-left: 34px;
	display: flex;
	flex-direction: column;
	gap: 6px;
	position: relative;
	user-select: none;
	cursor: pointer;
}

.custom-checkbox--error .custom-checkbox__text,
.custom-checkbox--error .custom-checkbox__icon {
	color: #FF7575;
}

.custom-checkbox__label::before {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 4px;
	background-color: #fff;

	position: absolute;
	top: 2px;
	left: 2px;
}

.custom-checkbox--error .custom-checkbox__label::before {
	border: 1px solid #FF7575;
}

.custom-checkbox__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.custom-checkbox__description {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.6);
}

.custom-checkbox__icon {
	position: absolute;
	top: 8px;
	left: 7px;
	color: #000;
	width: 9px;
	height: 8px;
	display: flex;
	align-items: center;
	justify-content: center;

	display: none;
}