.custom-input {
	position: relative;
}

.custom-input--icon .custom-input__field{
	padding-right: 52px;
}

.custom-input--error .custom-input__field {
	background-color: rgba(255, 117, 117, 0.15);
}

.custom-input--error .custom-input__label,
.custom-input--error .custom-input__icon {
	color: #FF7575;
}

.custom-input--error .custom-input__error {
	display: block;
}

.custom-input__field {
	border: none;
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 8px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
	padding: 34px 20px 12px;
	width: 100%;
}

.custom-input__field::placeholder {
	opacity: 0.4;
}

.custom-input__field:disabled {
	opacity: 0.5;
	pointer-events: none;
}

.custom-input__field:disabled + .custom-input__label,
.custom-input__field:disabled ~ .custom-input__icon {
	opacity: 0.4;
	pointer-events: none;
}

.custom-input__field:hover,
.custom-input__field:focus-visible {
	background-color: rgba(111, 181, 130, 0.15);
	outline: none;
}

.custom-input__field:hover ~ .custom-input__icon,
.custom-input__field:focus-visible ~ .custom-input__icon {
	color: #87F29A;
}

.custom-input__label {
	position: absolute;
	top: 10px;
	left: 20px;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
}

.custom-input__icon {
	position: absolute;
	bottom: 12px;
	right: 20px;
	width: 24px;
	height: 24px;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.custom-input__icon-wrap {
	display: flex;
	gap: 12px;
	position: absolute;
	right: 20px;
	bottom: 12px;
	align-items: center;
}

.custom-input__icon-wrap .custom-input__icon {
	position: relative;
	left: 0;
	top: 0;
	height: 24px;
	width: 30px;
}

.custom-input__icon-wrap .custom-input__icon:first-child {
	width: 24px;
}

.custom-input__error {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #FF7575;
	position: absolute;
	left: 0;
	bottom: -8px;
	transform: translateY(100%);
	display: none;
}