.order {
	padding: 80px 0;
}

.order__accent {
	font-family: "Press Start 2P", "Arial", sans-serif;
	font-weight: 400;
	font-size: 48px;
	line-height: 1;
	color: #87F29A;
	text-transform: uppercase;

	display: block;
	margin: 0 0 24px;
}

.order__text {
	font-weight: 700;
	font-size: 22px;
	line-height: 32px;
	display: block;
	margin: 0 0 80px;
}