.custom-input {
	position: relative;
}

.custom-input__field {
	border: none;
	border-bottom: 1px solid rgba(9, 9, 9, 0.15);
	background-color: transparent;
	width: 100%;
	padding: 4px 24px 4px 0;
	font-family: inherit;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: -0.04em;
}

.custom-input__icon {
	color: #ad8361;
	position: absolute;
	right: 0;
	top: 0;
	pointer-events: none;
}
