.custom-search {
	width: 260px;
	position: relative;
}

.custom-search__field {
	font-family: inherit;
	padding: 13px 40px 13px 10px;
	border: none;
	border-bottom: 2px solid #B7B7B7;
	font-size: 14px;
	line-height: 14px;
	width: 100%;
}

.custom-search__field::placeholder {
	color: #B7B7B7;
}

.custom-search__field:hover {
	border-color: rgba(71, 80, 9, 0.7);
}

.custom-search__field:focus-visible {
	border-color: #475009;
	outline: none;
}

.custom-search__icon {
	color: #B7B7B7;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}