.custom-input {
	width: 360px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.custom-input--error .custom-input__field {
  border-color: #FF7373;
}

.custom-input--error .custom-input__error {
	display: block;
}

.custom-input--icon .custom-input__field {
	padding: 16px 22px 16px 56px;
}

.custom-input__field {
	border-radius: 8px;
	border: 2px solid #b7b7b7;
	font-size: 16px;
	line-height: 24px;
	color: #475009;
	padding: 16px 22px;
	font-family: inherit;
}

.custom-input__field:hover {
	border-color: rgba(71, 80, 9, 0.7);
}

.custom-input__field:focus-visible {
	border-color: #475009;
	outline: none;
}

.custom-input__field:hover ~ .custom-input__icon {
	color: rgba(71, 80, 9, 0.7);
}

.custom-input__field:focus-visible ~ .custom-input__icon {
	color: rgba(71, 80, 9, 0.7);
}

.custom-input__field:focus-visible + .custom-input__label {
	color: #475009;
}

.custom-input__field::placeholder {
	color: #A3A3A3;
}

.custom-input__field[disabled] {
	background-color: #fff;
	border-color: rgba(173, 173, 173, 0.4);
}

.custom-input__field[disabled]::placeholder {
	color: rgba(173, 173, 173, 0.4);
}

.custom-input__field[disabled] + .custom-input__label {
	color: rgba(173, 173, 173, 0.4);
}

.custom-input__label {
	font-size: 14px;
	line-height: 14px;
	font-weight: 700;
	color: #475009;
	position: absolute;
	left: 15px;
	top: 0;
	transform: translateY(-50%);
	background-color: #fff;
	padding: 1px 4px;
	user-select: none;
}

.custom-input__icon {
	color: #B7B7B7;
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}

.custom-input__button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 24px;
	width: 24px;
	color: #475009;
	background-color: transparent;
	padding: 0;
	border: none;
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.custom-input__error {
	font-size: 10px;
	line-height: 10px;
	color: #FF7373;
	padding-top: 5px;
	display: none;
}