.about-company {
  margin: 0 0 70px;
}

.about-company__wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 30px 50px;
  margin: 0 0 50px;
}

.about-company__image {
  border-radius: 30px;
  height: 300px;
  width: 300px;
  grid-row: 2 / 3;
  overflow: hidden;
}

.about-company__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 2 / 3;
  grid-row: span 2;
}

.about-company__text {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  font-weight: 400;
  color: $color-verdun-green;
}

.about-company__list {
  margin: 0 0 44px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.about-company__item--size-xl {
  grid-column: 1 / -1;
}

.about-company__card-text {
  padding: 32px 25px;
  background-color: $color-solitude;
  border-radius: 20px;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  height: 100%;
  color: $color-verdun-green;
}

.about-company__btn {
  margin: 0 auto;
  width: 280px;
}
