.application {
  padding: 0 0 70px;
  background-image: url("../../images/index-form-bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 520px 496px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/index-form-bg@2x.png");
  }

  @include vp-1439 {
    padding: 60px 0 53px;
    background-image: url("../../images/index-form-bg-tablet.png");
    background-size: cover;
  }

  @media (min-resolution: 2dppx) and (max-width: $vp-tablet) {
    background-image: url("../../images/index-form-bg-tablet@2x.png");
  }

  @include vp-767 {
    background-image: url("../../images/index-form-bg-mobile.png");
    padding: 30px 0 58px;
  }

  @media (min-resolution: 2dppx) and (max-width: $vp-mobile) {
    background-image: url("../../images/index-form-bg-mobile@2x.png");
  }

  &__wrapper {
    max-width: 930px;
    margin: 0 auto;

    @include vp-1439 {
      max-width: unset;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 40px 0;

    @include vp-1439 {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      margin-bottom: 30px;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__inner {
    display: flex;
    gap: 70px;
    margin: 0 0 40px 0;

    @include vp-1439 {
      gap: 48px;
    }

    @include vp-767 {
      flex-direction: column;
      gap: 30px;
      margin-bottom: 36px;
    }
  }

  &__group {
    border: none;
    padding: 0;
    margin: 0;
  }

  &__group-name {
    font-size: 26px;
    line-height: 30px;
    margin: 0 0 30px 0;
    padding: 0;
    font-weight: 700;

    @include vp-1439 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 24px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 20px;
    }
  }

  &__form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 14px;

    @include vp-1439 {
      gap: 20px;
    }
  }

  &__input {
    width: 430px;

    @include vp-1439 {
      width: 330px;
    }

    @include vp-767 {
      width: 100%;
    }
  }

  &__btn {
    margin: 0 0 20px 0;
    width: 345px;
    padding: 14px;

    @include vp-1439 {
      width: 280px;
      margin: 0 auto 20px;
    }

    @include vp-767 {
      width: 200px;
    }
  }

  &__checkbox {
    width: 490px;

    @include vp-1439 {
      width: 405px;
      margin: 0 auto;
    }

    @include vp-767 {
      width: 100%;
    }
  }
}
