.custom-input {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  &--error .custom-input__field {
    border-color: $color-salmon;
  }
  
  &--error .custom-input__error {
    display: block;
  }
  
  &--icon .custom-input__field {
    padding: 16px 40px 16px 54px;
  }
  
  &__field {
    border: 2px solid $color-pink-swan;
    border-radius: 8px;
    color: $color-verdun-green;
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 40px 16px 20px;
    width: 100%;

    &:hover {
      border-color: $color-verdun-green-70;
    }
    
    &:hover ~ .custom-input__icon {
      color: $color-verdun-green-70;
    }
    
    &:focus-visible {
      border-color: $color-verdun-green;
      outline: none;
    }
    
    &:focus-visible ~ .custom-input__icon {
      color: $color-verdun-green;
    }
    
    &:focus-visible + .custom-input__label {
      color: $color-verdun-green-70;
    }
    
    &::placeholder {
      color: $color-dark-gray;
    }
    
    &[disabled] {
      background-color: $color-white;
      border-color: $color-dark-gray-2-40;
    }
    
    &[disabled]::placeholder {
      color: $color-dark-gray-2-40;
    }
    
    &[disabled] + .custom-input__label {
      color: $color-dark-gray-2-40;
    }
  }
  
  &__label {
    background-color: $color-white;
    font-size: 14px;
    font-weight: 700;
    left: 15px;
    line-height: 14px;
    padding: 1px 4px;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    user-select: none;
  }
  
  &__icon {
    color: $color-pink-swan;
    left: 20px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  &__button {
    align-items: center;
    background-color: $color-dark-gray-2-40;
    border: none;
    color: $color-verdun-green;
    cursor: pointer;
    display: flex;
    height: 24px;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;

    &:hover {
      color: $color-verdun-green-70;
    }
  }
  
  &__error {
    color: $color-salmon;
    display: none;
    font-size: 10px;
    line-height: 10px;
    margin: 5px 0 0 0;
  }
}
