*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Exo-2", "Arial", sans-serif; /* шрифт */
  font-style: normal;
  font-weight: 400;
  color: #475009;  /* цвет текста */
  margin: 0;
  padding: 0;
  
  display: flex;  /* для прижатия footer */
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding-top: 182px; /* высота header */
  flex-grow: 1;  /* для прижатия footer */
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

a {
  color: #475009;  /* цвет ссылок */
  text-decoration: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}  /* для полей поиска */
