.footer {
  background-color: $color-endeavour;
  padding: 24px 0;

  @include vp-1023 {
    padding: 30px 0;
  }

  @include vp-767 {
    padding: 20px 0 40px;
  }

  &__content {
    display: flex;
    align-items: center;

    @include vp-767 {
      flex-direction: column;
    }
  }

  &__logo-link {
    width: 60px;
    height: 60px;
    margin-right: 170px;

    &:hover,
    &:focus-visible {
      opacity: 0.8;
    }

    @include vp-1023 {
      margin-right: 100px;
    }

    @include vp-767 {
      margin: 0 0 40px;
    }
  }

  &__nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    column-gap: 10px;
    columns: 3;

    @include vp-1023 {
      width: 200px;
      columns: 2;
    }

    @include vp-767 {
      margin: 0 0 38px;
    }
  }

  &__nav-item {
    margin: 0 0 6px;
    width: 100px;
  }

  &__nav-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-white;
    margin: 0 0 6px;
  }

  &__connection {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    margin-left: auto;

    @include vp-767 {
      align-items: center;
      gap: 16px;
      margin: 0;
    }
  }

  &__copyright {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $color-white;
  }
}
