.intro {
  min-height: calc(100vh - 81px);
  display: flex;
  align-items: center;
  margin: 0 0 40px 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -81px;
    left: 0;
    height: calc(100% + 81px);
    width: 100%;
    background-color: $color-blue-sky;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    //animation: bgIntroSlideInLeft 0.7s ease-in-out forwards 0.2s;
    //clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }

  &__wrapper {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 150px 0;

    @include vp-1023 {
      padding: 40px 0;
      flex-direction: column;
      gap: 61px;
    }
  }

  &__content {
    width: 540px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 68px;
    line-height: 72px;
    margin: 0 0 40px;
  }

  &__title-text {
    &--middle {
      color: $color-endeavour;
      text-align: right;
    }
  }

  &__link {
    background-color: $color-endeavour;
    color: $color-white;
    padding: 18px;
    width: 250px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-weight: 500;

    @include vp-1023 {
      width: 240px;
    }
  }

  &__images {
    @include vp-1023 {
      width: 100%;
      height: 488px;
      position: relative;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;

    &--cloud {
      right: 240px;
      top: 66px;
      //transform: scale(0.3) translate(370px, 110px);
      //opacity: 0;
      //transform-origin: 100% 100%;
      //animation: introCloud 1s ease forwards 2.4s;

      @include vp-1023 {
        right: 0;
        left: 35px;
        top: 0;
      }
    }

    &--hand {
      top: auto;
      bottom: 60px;
      //opacity: 0;
      //transform: rotate(-35deg) translateX(130%) scale(0.7);
      //animation: introHand 0.6s ease-in forwards 0.8s, shakeY 1s ease forwards 1.6s;

      @include vp-1023 {
        bottom: 0;
        right: 34px;
      }
    }
  }
}

@keyframes bgIntroSlideInLeft {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes introSlideInLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes introSlideInRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes introHand {
  0% {
    transform: rotate(-35deg) translateX(130%) scale(0.7);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes introCloud {
  0% {
    transform: scale(0.3) translate(370px, 110px);
    opacity: 0;
  }
  30% {
    transform: scale(0.3) translate(370px, 110px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }
}

@keyframes shakeY {
  0%,100% {
    transform: translate(0, 0)
  }

  10%,30%,50%,70%,90% {
    transform: translate(0, -10px)
  }

  20%,40%,60%,80% {
    transform: translate(0, 10px)
  }
}
