.main-nav {
	@include vp-1023 {
		background-color: $color-endeavour;
		pointer-events: none;
		flex-direction: column;
		height: calc(100vh - 81px);
		left: 0;
		overflow-y: auto;
		padding: 50px 0;
		position: fixed;
		top: 81px;
		width: 100%;
		display: none;
	}

	@include vp-767 {
		padding: 40px 0;
	}

	&__wrapper {
		@include vp-767 {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
		}
	}

	&__inner {
		@include vp-1023 {
			display: flex;
			gap: 120px;
			justify-content: center;
			width: 100%;
		}

		@include vp-767 {
			gap: 50px;
			margin: 0 0 30px;
		}
	}

	&__head {
		display: none;

		@include vp-1023 {
			color: $color-white;
			display: flex;
			font-size: 22px;
			font-weight: 500;
			line-height: 26px;
			margin: 0 0 40px;
		}

		@include vp-767 {
			font-size: 20px;
			line-height: 24px;
			margin: 0 0 20px;
		}
	}

	&__list {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 10px 40px;
		list-style: none;
		margin: 0;
		padding: 0;

		@media (max-width: 1250px) {
			gap: 10px 20px;
		}

		@include vp-1023 {
			align-items: flex-start;
			flex-direction: column;
			gap: 40px;
			width: 150px;
		}

		@include vp-767 {
			gap: 20px;
			width: 120px;
		}

		&--menu {
			display: none;

			@include vp-1023 {
				display: flex;
			}
		}
	}

	&__item {
		position: relative;

		&--submenu {
			&:hover {
				.main-nav__sublist {
					opacity: 1;
					transform: translateY(0);
					pointer-events: all;
				}
			}
		}
	}

	&__link {
		color: $color-endeavour;
		display: flex;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;

		@media (max-width: 1150px) {
			font-size: 14px;
			line-height: 20px;
		}

		@include vp-1023 {
			color: $color-white;
			font-size: 16px;
			line-height: 24px;
		}

		@include vp-767 {
			font-size: 14px;
			line-height: 18px;
		}
	}

	&__button-more {
		padding: 0;
		height: 24px;
		width: 24px;
		background-color: transparent;
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		@include vp-1023 {
			display: none;
		}
	}

	&__sublist {
		background-color: $color-white;
		border-radius: 12px;
		box-shadow: 0 0 10px 0 #29539b66;
		display: flex;
		flex-direction: column;
		gap: 12px;
		left: 0;
		list-style: none;
		margin: 0;
		min-width: 160px;
		padding: 12px 24px;
		position: absolute;
		top: calc(100% + 12px);
		opacity: 0;
		transform: translateY(-10%);
		pointer-events: none;
    transition: opacity $transition-300, transform $transition-300;

		@include vp-1023 {
			position: relative;
			background-color: transparent;
			padding: 0;
			gap: 40px;
		}

    &::before {
      content: "";
      height: 12px;
      width: 100px;
      position: absolute;
      left: 0;
      top: -12px;
    }
	}

	&__social {
		display: none;

		@include vp-1023 {
			display: flex;
			flex-direction: column;
			gap: 40px;
			list-style: none;
			margin: auto 0 20px;
			padding: 0;
			position: fixed;
			right: 40px;
			top: calc(81px + 50px);
		}

		@include vp-767 {
			flex-direction: row;
			justify-content: center;
			position: relative;
			right: auto;
			top: auto;
		}
	}

	&__social-link {
		display: flex;
	}

	&__phone {
		display: none;

		@include vp-767 {
			align-items: center;
			color: $color-white;
			display: flex;
			font-size: 18px;
			gap: 10px;
			justify-content: center;
			line-height: 22px;
		}
	}
}
